@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
        url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
        url("../fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans.woff2") format("woff2"),
        url("../fonts/OpenSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

body {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #464646;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*кнопки*/
.button {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;

  font-size: 18px;
  line-height:24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: #000000;
  background-color: transparent;
  border: 0;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}
.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header {
  position: relative;
  margin-top: 40px;
  padding-bottom: 51px;
  background-color: #f7e296;
}

.page-header__logo {
  position: absolute;
  top: -18px;
  left: 60px;
}
.page-header__logo:hover {
  opacity: 0.6;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-right: 60px;
  padding-left: 60px;
}

.main-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.main-navigation__search {
  position: relative;
  display: flex;
  width: 440px;
  height: 49px;
  margin-right: auto;
}

.main-navigation__search::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
}

.site-search__field {
  width: 355px;
  padding-left: 40px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-style: inherit;
  background-color: #f7e296;
  border: 0;
  outline: none;
}

.site-search__field:focus {
  box-shadow: inset 0 -2px 0 0 #000000;
}

.site-search__field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search__field:focus::placeholder {
  color: #000000;
}

.site-search__button {
  width: 85px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  background-color: #f7e296;
  border: 2px solid #000000;
  opacity: 0;
}

.site-search__field:focus ~ .site-search__button,
.site-search__button:focus {
  opacity: 1;
}

.site-search__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.site-search__button:active {
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.main-navigation__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation {
  display: flex;
  position: relative;
  width: 260px;
}

.user-navigation__link {
  position: relative;
  padding-left: 25px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000000;
}

.user-navigation__link:before {
  content: "";
  position: absolute;
  top: 25%;
  left:0;
  width: 13px;
  height: 13px;
}

.user-navigation__link--login:before,
.user-navigation__link--profile:before {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
}

.user-navigation__link--logout {
  opacity: 0.3;
}

.user-navigation__link:hover,
.user-navigation__link:focus {
  outline: none;
  opacity: 0.6;
}

.user-navigation__link:active {
  opacity: 0.3;
}

.shopping-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 240px;
}

.shopping-navigation__link {
  position: relative;
  padding-left: 48px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000000;
}

.shopping-navigation__link:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 25%;
  left: 25%;
}

.shopping-navigation__link:hover,
.shopping-navigation__link:focus {
  outline: none;
  opacity: 0.6;
}

.shopping-navigation__link:active {
  opacity: 0.3;
}

.shopping-navigation__link--compare:before {
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
}

.shopping-navigation__link--cart:before {
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation__item--catalog {
  margin-right: auto;
}

.site-navigation__link {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  font-family: "Gilroy", "Arial Black", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  opacity: 0.6;
}

.site-navigation__link:active {
  opacity: 0.3;
}

.site-navigation__link--catalog::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -27px;
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
}

.site-navigation__item:nth-child(2) {
  margin-right: 35px;
}

.site-navigation__item:nth-child(4) {
  margin-left: 108px;
  margin-right: -5px;
}

/*отступы при переполнении*/
.site-navigation__item:nth-child(n+5) {
  margin-left: 10px;
}

.site-navigation__item {
  position: relative;
}

.catalog-navigation {
  position: absolute;
  top: 31px;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  display: none;
  width: 640px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  list-style: none;
}

.site-navigation__item:hover .catalog-navigation {
  display: flex;
  flex-wrap: wrap;
}

.catalog-navigation::after {
  content: "";
  position: absolute;
  left: -60px;
  z-index: -1;
  width: 1160px;
  height: 100%;
  background-color: #f7e296;
}

.catalog-navigation__item {
  width: 200px;
}

.catalog-navigation__item:nth-child(3n+1) {
  margin-right: 40px;
}

.catalog-navigation__item:last-child {
  width: 210px;
}

.catalog-navigation__link {
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog-navigation__link:hover,
.catalog-navigation__link:focus {
  opacity: 0.6;
}

.catalog-navigation__link:active {
  opacity: 0.3;
}

/*slider*/
.features {
  margin-bottom: 103px;
}

.features__wrapper {
  position: relative;
  background-color: #ffffff;
  background-image: linear-gradient(#f7e296 109px,#fff 109px);
}

.features-slider,
.features__toggles {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slider {
  position: relative;
  z-index: 1;
  min-height: 486px;
  list-style: none;
  counter-reset: my-counter;
}

.promo-slider__item {
  position: absolute;
  top: 0;
  z-index: -10;
  opacity: 0;
  display: flex;
  width: 1200px;
  counter-increment: my-counter;
}

.promo-slider__item::before {
  content: "0"counter(my-counter);
  position: absolute;
  top: -16px;
  right: 86px;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.01em;
  font-weight: 800;
  font-family: "Gilroy", "Arial Black", sans-serif;
  color: #ffffff;
}

.promo-slider__item--current{
  position: relative;
  z-index: 10;
  opacity: 1;
}

.promo-slider__image-wrapper {
  display: flex;
  width: 560px;
  margin-right: 40px;
}

.promo-slider__image {
  max-width: 555px;
  max-height: 486px;
  margin: auto;
}

.promo-slider__description-wrapper {
  position: relative;
  width: 500px;
  padding-top: 76px;
}

.promo-slider__description-wrapper::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.promo-slider__title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  color: #000000;
}
.promo-slider__description {
  margin-bottom: 44px;
  padding-right: 20px;
}

.promo-slider__link {
  width: 220px;
  margin-bottom: 50px;
}

.promo-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.spec-list__name {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.spec-list__value {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01px;
  font-weight: 300;
  font-family: "Gilroy", "Arial Black", sans-serif;
  color: #000000;

}
.spec-list {
  display: flex;
}

.spec-list__wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 160px;
}

.spec-list__wrapper:nth-child(even) {
  width: 140px;
}

.spec-list,
.spec-list__name,
.spec-list__value {
  padding: 0;
  margin: 0;
}

.features__toggles {
  margin: 0;
  padding: 0;
}

.spec-list__name {
  padding-top: 6px;
}

.slider-toggles {
  position: absolute;
  top: 313px;
  right: 82px;
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;

}
.slider-toggles__item {
  position: relative;
}

.slider-toggles__button {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #050505;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-toggles__item--current::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 3px;
  z-index: 1;
  width: 6px;
  height: 6px;
  border: 1px solid #050505;
  border-radius: 50%;
  background-color: #ffffff;

}

/*popular categories*/
.popular-categories {
  margin-bottom: 80px;
}
.popular-categories__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.popular-categories__item {
  width: 160px;
  margin-right: 40px;
}
.popular-categories__item:nth-child(6n) {
  margin-right: 0;
}
.popular-categories__link {
  position: relative;
  display: block;
  padding-top: 194px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

.popular-categories__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #f0c52e;
  opacity: 0.5;
}

.popular-categories__link::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
}

.popular-categories__link--vr::after {
  top: 52px;
  left: 31px;
  background-image: url(../img/popular-1.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--monopods::after {
  top: 42px;
  left: 38px;
  background-image: url(../img/popular-2.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--cameras::after {
  top: 39px;
  left: 49px;
  background-image: url(../img/popular-3.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--band::after {
  top: 51px;
  left: 29px;
  background-image: url(../img/popular-4.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--clock::after {
  top: 33px;
  left: 54px;
  background-image: url(../img/popular-5.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--quadcopters::after {
  top: 50px;
  left: 15px;
  background-image: url(../img/popular-6.svg);
  background-repeat: no-repeat;
}

.popular-categories__link:hover::before,
.popular-categories__link:focus::before {
  outline: none;
  opacity: 1;
}

.popular-categories__link:active::before {
  opacity: 1;
}

.popular-categories__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.popular-categories__link:active::after {
  opacity: 0.3;
}

/*services*/
.services {
  margin-bottom: 93px;
  padding-bottom: 36px;
  background-color: #e5e5e5;
  background-image: linear-gradient(#ffffff 100px,#e5e5e5 100px);
}
.services__wrapper {
  display: flex;
  padding-bottom: 80px;
}
.services__toggles {
  position: relative;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__toggles::after {
  content: "";
  position: absolute;
  top: 0;
  right: -4px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services__description {
  margin: 0;
  padding: 0;
  list-style: none;
}
.services-tab {
  padding-top: 80px;
}
.services-tab__item {
  margin-bottom: 24px;
}

.services-tab__link {
  width: 160px;
}

.services-tab__link--current {
    width: 100%;
    text-align: left;
    background-color: #000000;
    color: #f7e184;
}
.services-tab__link--current::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #000000;
  transition: none;
}
.services-tab__link--current:active {
    width: 100%;
    text-align: left;
    background-color: #000000;
    color: #f7e184;
}
.services-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 880px;
  padding-left: 120px;
}

.services-list__item {
  position: absolute;
  top: 0;
  z-index: -10;
  padding-top: 74px;
  opacity: 0;
  width: 760px;
}

.services-list__item--current {
  position: relative;
  z-index: 10;
  opacity: 1;
}

.services-list__title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size:47px;
  line-height: 48px;
  letter-spacing:0.01em;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.services-list__summary {
  padding-right: 310px;
}

.services-list__item--delivery {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: top 84px right 65px;
}
.services-list__item--warranty {
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: 89% 57%;;
}
.services-list__item--credit {
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: 89% 57%;
}

/*brands*/
.brands {
  margin-bottom: 85px;
}
.brands__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.brands__link {
  display: block;
  text-decoration: none;
  opacity: 0.2;
  filter: grayscale(100%);
}

.brands__link:hover {
  opacity: 1;
  filter: grayscale(0)
}

/*about us and contacts*/
.wrapper {
  display: flex;
  justify-content: space-between;
}

.about-us {
  position: relative;
  width: 480px;
  margin-right: 120px;
  margin-bottom: 81px;
  padding-top: 52px;
  padding-right: 8px;
}

.contacts {
  position: relative;
  width: 560px;
  margin-bottom: 81px;
  padding-top: 52px;
}

.about-us::before,
.contacts::before  {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us__title,
.contacts__title {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 43px;
  margin-left: -2px;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  color: #000000;
}

.about-us__summary,
.contacts__summary {
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 300;

}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.company-list {
  margin-top: 66px;
  margin-bottom: 54px;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
}
.company-list__item {
  position: relative;
  padding-left: 35px;
}

.company-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts__map {
  margin-top: 9px;
  margin-bottom: 60px;
}

.about-us__button,
.contacts__button {
  width: 260px;
}
